@import "../../styles/resetCSS";

.wrapper {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  margin: auto;
  padding: 0;
}

.header {
  padding: 20px 200px;
  height: 10%;
}

.body {
  padding: 0 200px;
  margin: 0;
}

.postWrapper {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
