.wrapper {
  background-color: whitesmoke;
  margin: auto;
  padding: 0;
}

.header {
  padding: 20px 200px;
  height: 10%;
}

.body {
  padding: 0 200px;
}

.postWrapper {
  padding: 20px;
  margin: 0 auto;
}


